
*.bak
*.qpf
*.qsf
*.rdb
*.db_info
*.qmsg
*.flock
*.sci
*.rpt
*.summary
*.txt
*.kpt
*.cdb
*.hdb
*.xml
*.nvd
*.bpm
*.idb
*.logdb
*.hsd
*.hif
*.hier_info
*.html
*.tdb
*.ddb
*.ammdb
*.tmw_info
*.rcfdb
*.dpi
*.sig
*.hb_info
Course FPGA/incremental_db/README
*.dfp
*.json
*.smsg
*.jdi
*.pin
*.sld
*.done
*.sof
Course FPGA/Mux_4bits/incremental_db/README
*.qws
*.mti
*.mpf
Course FPGA/Adder_4bits/incremental_db/README
*.wlf
Course FPGA/Adder_4bits/work/_info
*.qdb
*.qdb
*.qpg
*.qtl
Course FPGA/Adder_4bits/work/_vmake
Lab1_RNS/incremental_db/README
*.ini
Lab1_RNS/simulation/modelsim/rtl_work/_info
Lab1_RNS/simulation/modelsim/msim_transcript
Lab1_RNS/simulation/modelsim/rtl_work/_vmake
Lab1_RNS/simulation/modelsim/test_rns_bin
*.sft
*.vho
*.xrf
*.do
*.bak1
*.bak2
Lab2_RNS/incremental_db/README
Lab2_RNS/simulation/modelsim/lab2_rns_test
Lab2_RNS/simulation/modelsim/msim_transcript
Lab2_RNS/simulation/modelsim/rtl_work/_info
Lab2_RNS/simulation/modelsim/rtl_work/_vmake
Lab2_RNS/simulation/modelsim/rns_bin_test
Lab_Cap5/incremental_db/README
*.bak3
*.bak5
*.bak4
Lab_Cap5/simulation/modelsim/msim_transcript
Lab_Cap5/simulation/modelsim/rtl_work/_info
Lab_Cap5/simulation/modelsim/rtl_work/_vmake
Lab_Cap8/incremental_db/README
Lab_Cap8/simulation/modelsim/msim_transcript
Lab_Cap8/simulation/modelsim/rtl_work/_info
Lab_Cap8/simulation/modelsim/rtl_work/_vmake
Lab_Cap9/incremental_db/README
Lab_Cap9/simulation/modelsim/msim_transcript
Lab_Cap9/simulation/modelsim/rtl_work/_info
Lab_Cap9/simulation/modelsim/rtl_work/_vmake
*.bak6
Lab_Cap8/simulation/modelsim/lab8
Lab_Cap11/simulation/modelsim/msim_transcript
Lab_Cap11/simulation/modelsim/rtl_work/_info
Lab_Cap11/incremental_db/README
Lab_Cap11/simulation/modelsim/rtl_work/_vmake
Lab_Cap11/simulation/modelsim/lab
Lab3_RNS/incremental_db/README
