
*.bak
*.qpf
*.qsf
*.rdb
*.db_info
*.qmsg
*.flock
*.sci
*.rpt
*.summary
*.txt
*.kpt
*.cdb
*.hdb
*.xml
*.nvd
*.bpm
*.idb
*.logdb
*.hsd
*.hif
*.hier_info
*.html
*.tdb
*.ddb
*.ammdb
*.tmw_info
*.rcfdb
*.dpi
*.sig
*.hb_info
Course FPGA/incremental_db/README
*.dfp
*.json
*.smsg
*.jdi
*.pin
*.sld
*.done
*.sof
Course FPGA/Mux_4bits/incremental_db/README
*.qws
*.mti
*.mpf
Course FPGA/Adder_4bits/incremental_db/README
*.wlf
Course FPGA/Adder_4bits/work/_info
*.qdb
*.qdb
*.qpg
*.qtl
Course FPGA/Adder_4bits/work/_vmake
